$content-height: calc(100vh - 50px);

.schedule {
  min-height: calc(100vh - 50px);

  .schedule-sider {
    text-align: center;
    position: fixed;
    height: $content-height;
    inset-inline-start: 0;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    background-color: #ffffff;
    border-inline-end: 1px solid rgba(5, 5, 5, 0.06);

    .schedule-sider-trigger {
      height: 75px;
      cursor: pointer;
      text-align: center;
      line-height: 75px;
      transition: all 0.2s;
    }

    .schedule-sider-menu {
      border-inline-end: none;
    }

    .schedule-sider-favorites-collapse {
      border-radius: 0;

      .schedule-sider-favorites-collapse-empty-content {
        :first-child {
          height: 150px;
        }

        :nth-child(2) {
          color: #323338;
          font-size: 18px;
        }

        :nth-child(3) {
          color: #676879;
          font-size: 14px;
          padding-bottom: 50px;
        }
      }

      .ant-collapse-header {
        padding: 12px 5px;

        .ant-collapse-header-text {
          flex: none;
        }

        .ant-collapse-expand-icon {
          padding-left: 22px;
          padding-inline-end: 10px;
        }
      }
    }

    .schedule-sider-workspace-collapse {
      border-radius: 0;

      .schedule-sider-workspace-collapse-menu {
        border-inline-end: none;

        > li {
          position: relative;

          .schedule-menu-item-title {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            text-align: left;
            padding-left: 20px;
          }
        }
      }

      .ant-collapse-header {
        padding: 12px 5px;

        .ant-collapse-header-text {
          flex: none;
        }

        .ant-collapse-expand-icon {
          padding-left: 23px;
          padding-inline-end: 10px;
        }
      }
    }
  }

  .schedule-body {
    padding-left: 5px;
    overflow: auto;
  }
}