@use "@D/core/style/theme.scss" as *;

.add-schedule-draggable-modal {
  .ant-modal-header {
    .ant-modal-title {
      font-size: 22px;

      .ant-flex {
        padding: 10px 0;

        .add-schedule-icon {
          color: white;
          width: 80px;
          height: 80px;
          font-size: 50px;
          border-radius: 20px;
          background-color: $primary-color;
        }
      }
    }
  }
}